<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/styles.css">
    <title>Document</title>
</head>
<body>
    <header>
        <a href="/">Home</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
    </header>
    <img src="~/images/code.jpeg" alt="Picture of code">
    <h2>Project title</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut posuere maximus vestibulum. Fusce placerat vehicula tempor. Duis congue, risus in porttitor congue, nunc odio lobortis nunc, sit amet pretium felis justo eget dui. Cras vestibulum, risus vel lobortis sollicitudin, nibh lectus placerat arcu, eget finibus lacus augue id augue. Ut quam sapien, sollicitudin vitae nibh a, consectetur convallis arcu. Mauris fermentum at mi non tincidunt. Duis ornare in ante quis molestie. Mauris sodales dui a turpis cursus, non porttitor risus eleifend. In sit amet ex congue, imperdiet augue at, feugiat orci. Ut id auctor augue. Integer luctus molestie neque vel elementum.</p>
    <img src="~/images/code.jpeg" alt="Picture of code">
    <h2>Project title</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut posuere maximus vestibulum. Fusce placerat vehicula tempor. Duis congue, risus in porttitor congue, nunc odio lobortis nunc, sit amet pretium felis justo eget dui. Cras vestibulum, risus vel lobortis sollicitudin, nibh lectus placerat arcu, eget finibus lacus augue id augue. Ut quam sapien, sollicitudin vitae nibh a, consectetur convallis arcu. Mauris fermentum at mi non tincidunt. Duis ornare in ante quis molestie. Mauris sodales dui a turpis cursus, non porttitor risus eleifend. In sit amet ex congue, imperdiet augue at, feugiat orci. Ut id auctor augue. Integer luctus molestie neque vel elementum.</p>
    <img src="~/images/code.jpeg" alt="Picture of code">
    <h2>Project title</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut posuere maximus vestibulum. Fusce placerat vehicula tempor. Duis congue, risus in porttitor congue, nunc odio lobortis nunc, sit amet pretium felis justo eget dui. Cras vestibulum, risus vel lobortis sollicitudin, nibh lectus placerat arcu, eget finibus lacus augue id augue. Ut quam sapien, sollicitudin vitae nibh a, consectetur convallis arcu. Mauris fermentum at mi non tincidunt. Duis ornare in ante quis molestie. Mauris sodales dui a turpis cursus, non porttitor risus eleifend. In sit amet ex congue, imperdiet augue at, feugiat orci. Ut id auctor augue. Integer luctus molestie neque vel elementum.</p>
</body>
</html>