<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dojo Survey</title>
</head>
<body>
    <h1>Submitted Info:</h1>
    <p>name: @ViewBag.name</p>
    <p>Dojo Location: @ViewBag.location</p>
    <p>Favorite Language: @ViewBag.language</p>
    <p>Comments: @ViewBag.comments</p>
    <button><a href="/">Go Back</a></button>
</body>
</html>